/*
Dark purple: #955e83
Light purple: #cfb8c3
Pink: #f3e8ea
Light Green: #9ec0cd
Dark Green: #2d626c
 */

@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato-Regular.ttf');

}

.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Courier New";
    -fx-base: #ececec;
    -fx-background: rgba(243, 232, 234, 0.31);
    -fx-font-family: 'Lato';
}
.label{
    -fx-font-family: 'Lato';
    -fx-font-size: 16pt;
}

.title{
    -fx-font-size: 42pt;
}

.small{
    -fx-font-size: 12pt;
}

.button{
    -fx-background-color: #2d626c;
    -fx-text-fill: white;
    -fx-background-radius: 8px, 8px, 8px, 8px;
}

.button:hover{
    -fx-background-color: rgba(45, 98, 108, 0.8);
    -fx-effect: dropshadow(gaussian, black, 2, 0.0, 1, 1);
    -fx-underline: true;
}

.emergency{
    -fx-background-color: red;
}

.emergency:hover{
    -fx-background-color: rgba(255, 0, 0, 0.69);
}

.text-field{
    -fx-background-radius: 10px;
}